body { border: 0; }
body.code { padding: 0; margin: 0 2px 0 0; }

h3 { margin-top: 0; padding-top: 0; }
a { text-decoration: none; }

.plug-header { height: 40px; line-height: 40px; vertical-align: middle; padding-left: 40px; display: block; }
.icon { background: left no-repeat; }

.syntaxhighlighter { padding-top: 1px !important; margin-top: 0px !important; }
.syntaxhighlighter .lines.no-wrap { overflow: visible; }

/* Background colours */
.theme-Default		{ background-color: #fff; }


/* Alternate lines */
.theme-Default		.syntaxhighlighter .line.alt1 { background-color: #f8f8f8 !important; }
