<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loopeer.codereaderkt">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取内存卡内容-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--网络权限-->

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeReader">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.AddRepoActivity"
            android:label="@string/title_activity_add_repo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_setting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/login_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/setting_about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.SimpleWebActivity"
            android:theme="@style/Theme.CodeReader.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.loopeer.directorychooser.DirectoryFileChooserActivity"
            android:theme="@style/Theme.CodeReader.NoActionBar" />
        <!--注意注册引入的activity-->
    </application>

</manifest>